.custom-modal .modal-content {
  border-radius: 16px;
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #ffffff;
}

.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.custom-modal.keyboard-sc-modal .modal-content {
  width: 896px;
}

.custom-modal.settings-info-modal .modal-content {
  width: 448px;
}

.custom-modal.settings-clearchat-modal .modal-content {
  width: 384px;
  height: 288px;
}