.dot-animation {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;

  position: relative;
  transform: translateY(6px);
}

.chat-response-container {
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-word;
}

.message-container {
  display: inline-block;
  align-items: baseline;
}

.dot-animation2 {
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
  margin-left: 2px;
  transform: translateY(3px);
}

.card-list {
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  animation-delay: 1s;
}

.card-list2 {
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

.card-button {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.06), 0px 0px 5px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease-in-out;
}


.chat-textbox-container {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
}


.custom-scrollbar {
  scrollbar-color: rgba(0, 0, 0, 0.03) transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(0, 0, 0, 0.07) transparent;
}

.chat-textbox-container-after {
  position: fixed;
  margin-bottom: 24px;
  bottom: 1px;
  left: 0px;
  right: 0;
  z-index: 1000;
  width: 768px;
}


.chat-textbox-container-before {
  width: 768px;
}

.scrollbarDiv {
  overflow-y: auto;
  max-height: 780px;
  margin-bottom: 12dvh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .model-selector-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap */
    justify-content: space-between; /* Equal space between cards */
    gap: 16px; /* Fixed gap for mobile */
    margin: 10px;
  }

  .card-item {
    flex: 1 1 calc(50% - 8px); /* Ensure two items per row with consistent spacing */
    max-width: calc(50% - 8px); /* Prevent cards from exceeding their allowed space */
  }

  .card-button {
    height: auto; /* Allow dynamic height for better adaptability */
    width: 100%; /* Full width for the card */
  }
}



@media (max-width: 511px) {
  .chat-textbox-container {
    position: fixed;
    margin-bottom: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
  }
}